<div>
    <div style="padding-left: 5px;">@Label</div>
    <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="0">
        <MudIcon Icon="@_icon" Color="@_iconColor" Size="Size.Small"/>
        <MudText Typo="Typo.h6" Style="text-box: trim-both cap alphabetic;">@Value</MudText>
    </MudStack>
</div>

@code {
    [Parameter] public decimal? Value { get; set; }
    [Parameter] public string? Label { get; set; }

    private string _icon = Icons.Material.Rounded.AttachMoney;
    private Color _iconColor = Color.Success;
    
    protected override void OnParametersSet()
    {
        switch (Value)
        {
            case > 0:
                _icon = Icons.Material.Rounded.AttachMoney;
                _iconColor = Color.Success;
                break;
            case < 0:
                _icon = Icons.Material.Rounded.MoneyOff;
                _iconColor = Color.Error;
                break;
            default:
                _icon = Icons.Material.Rounded.AttachMoney;
                _iconColor = Color.Surface;
                break;
        }
    }
}