<MudDataGrid Items="@_totalAmountsByCategory" Elevation="0" Hover="true" Dense="true" Bordered="true">
    <Columns>
        <PropertyColumn Property="x => x.Category" Comparer="@(new CategoryComparer())">
            <CellTemplate>
                <MudStack Row="true" AlignItems="AlignItems.Center">
                    <div style="background-color: @context.Item.Category.Color; width: 1rem; height: 1rem;" class="rounded"></div>
                    <span>@context.Item.Category.Name</span>
                </MudStack>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.TotalAmount" Format="C"/>
        <PropertyColumn Property="x => x.PercentOfIncome" Format="P0"/>
    </Columns>
</MudDataGrid>

@code {
    [Parameter] public required Budget Budget { get; set; }
    private IEnumerable<TotalAmountByCategory> _totalAmountsByCategory = [];

    protected override void OnInitialized()
    {
        _totalAmountsByCategory = Budget.Expenses
            .GroupBy(expense => expense.Category.Name)
            .Select(group => new TotalAmountByCategory(
                group.First().Category,
                group.Sum(x => x.Amount),
                (group.Sum(x => x.Amount) / Budget.TotalIncome)))
            .OrderByDescending(x => x.PercentOfIncome);
    }

    private record TotalAmountByCategory(
        Category Category, decimal TotalAmount, decimal PercentOfIncome);

}