/* region Layout */

html, body, #app {
    height: 100%;
}

.brand {
    height: 68px;
}

.mud-nav-item {
    width: 68px;
    height: 68px;
    padding: unset;
}

.mud-nav-item .mud-nav-link {
    padding: unset;
    align-items: center;
    justify-content: center;
    transition: unset !important;
}

.mud-nav-item .mud-nav-link-text {
    margin: unset;
    width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mud-nav-item .mud-nav-link-text .mud-icon-root {
    font-size: 1.65rem;
}

/* endregion */

/* region Misc */

th {
    font-weight: 550 !important;
}

.mud-dialog-content {
    overflow-y: hidden;
}

.mud-tabs-scrollable-content {}

    .mud-tabs-scrollable-content .mud-tabs-panels {
        overflow-y: hidden;
    }
    
    .mud-tabs-scrollable-content .mud-table {
        display: flex;
        flex-direction: column;
    }
    
    .mud-tabs-scrollable-content .mud-table-container {
        flex-grow: 1;
    }
    
    .mud-tabs-scrollable-content .mud-toolbar {
        flex-shrink: 0;
    }

.mud-table-overflow-hidden-container {
    height: 100%;
    overflow-y: auto;
}
    
    .mud-table-overflow-hidden-container>*:first-child {
        overflow-y: hidden;
    }

.mud-fab {
    box-shadow: var(--mud-elevation-2) !important;
}

/* endregion */