/* region MainLayout */

html, body, #app {
    height: 100%;
}

.mud-nav-item a {
    padding: unset;
    align-items: center;
    justify-content: center;
}

.mud-nav-item .mud-nav-link-text{
    margin: unset;
    width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 1) Make the outer table root a column flexbox */
.datagrid-flex .mud-table-container {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;
}

/* 2) Let the inner container shrink and scroll */
.datagrid-flex  .mud-table-root {
    flex: 1 1 0 !important;
    min-height: 0 !important;      /* critical for overflow to work */
    overflow-y: auto !important;
}

/*.mud-drawer-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    gap: 4px;
}

.mud-drawer-header .mud-icon-root {
    width: 42px;
    height: 42px;
}

.mud-drawer hr {
    margin: 0 8px;
}*/

/* endregion */

/* region NavMenu */

/*.mud-nav-link:hover {
    color: var(--mud-palette-primary-text);
}

.mud-nav-link-expand-icon {
    fill: var(--mud-palette-primary-text) !important;
}*/

/* endregion */

/* region General */

/*
a:hover {
    color: inherit;
}
*/

th {
    font-weight: 550 !important;
}

.mud-table-overflow-y-hidden .mud-table-container {
    overflow-y: hidden;
}

.mud-dialog-content {
    overflow-y: hidden !important;
}

/*Enables scrollable content in tabs.*/
.mud-tabs-scrollable-content  .mud-tabs-panels {
    overflow-y: hidden !important;
}

.mud-tabs-scrollable-content .mud-table {
    height: 100% !important;
    display: flex;
    flex-direction: column;
}

.mud-tabs-scrollable-content .mud-table-container {
    flex-grow: 1;
}



    /*.mud-tabs-panels {
        background-color: var(--mud-palette-surface);
    }*/

.mud-input-underline-none .mud-input-underline:before, .mud-input-underline-none .mud-input-underline:after {
    content: unset !important;
}

/* endregion */