/* region MainLayout */

.mud-drawer-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    gap: 4px;
}

.mud-drawer-header .mud-icon-root {
    width: 42px;
    height: 42px;
}

.mud-drawer hr {
    margin: 0 8px;
}

/* endregion */

/* region NavMenu */

.mud-nav-link:hover {
    color: var(--mud-palette-primary-text);
}

.mud-nav-link-expand-icon {
    fill: var(--mud-palette-primary-text) !important;
}

/* endregion */

/* region General */

a:hover {
    color: inherit;
}

.mud-table-root .mud-table-head .mud-table-cell {
    font-weight: 550;
}

.mud-table-overflow-y-hidden .mud-table-container {
    overflow-y: hidden;
}

.mud-dialog-content {
    overflow-y: hidden !important;
}

/* endregion */